### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### env ###
.env*
!.env.example

### database ###
*.db
*.db-journal
*.sqlite
*.sqlite3
*.sqlite-journal
server/database/*.db
server/database/*.sqlite
server/database/*.sqlite3

### sensitive data ###
*.pem
*.key
*.cert
*.crt
*.password
*.secret